<!DOCTYPE html>
<!--Tipo de archivo e dioma del sitio web-->
<html lang="es">

<head>
  <!--Indica codificación de carácteres-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Vínculo a archivo de estilos: css-->
  <link rel="stylesheet" href="../css/main.css">
  <!--Vinculando tipografías-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Mono" rel="stylesheet">
  <link rel="stylesheet" href="../assets/fonts/font-awesome/css/font-awesome.min.css">
  <!--Gráficos Google Charts-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!--El título de la página-->
  <title>Data Dashboard</title>
</head>

<body>
  <!-- Barra de navegación principal -->
  <section class="nav-container">
    <nav>
      <h1>DATA DASHBOARD</h1>
      <!-- Logotipo -->
      <img class="logo" src="../assets/images/logo.svg" alt="">
      <!-- Menú hamburguesa dropdown -->
      <div class="dropdown">
        <div class="ham-menu" onclick="myFunction()">
          <hr>
          <hr>
          <hr>
        </div>
      </div>
      <!-- Opciones del menú-->
      <div id="myDropdown" class="dropdown-content">
        <a href="#home">EN / ESP</a>
        <a href="http://www.laboratoria.la/" onclick="return(logOut())">Log-out</a>
      </div>
    </nav>
  </section>

  <!-- Menú lateral -->
  <aside class="left-menu">
    <!-- Datos de usuario-->
    <div class="user">
      <p class="avatar-name">LB</p>
      <section class="lucile">
        <h2 class="lu">Lucile Baratier</h2> <br>
        <p class="email">lucile@laboratoria.la</p>
      </section>
    </div>
    <!-- Lista de secciones menú lateral-->
    <div class="options">
      <a class="menu-opt"> <i class="fa fa-cog" aria-hidden="true"></i> Configuración</a>
      <a href="http://www.laboratoria.la/" onclick="return(logOut())" class="menu-opt"> <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión</a>
    </div>
  </aside>
  <main>
    <!--Contenedor de datos de información-->
    <div class="wrapper">
      <section class="opcionesPestaña settings" id="default">
      <h4>CONFIGURACIÓN</h4>
      </section>
      <div>
        <input type="text" name="Nombre" value="Lucile Baratier"> <i class="fa fa-pencil " aria-hidden="true"></i>
        <input type="text" name="" value="lucile@laboratoria.la"> <i class="fa fa-pencil " aria-hidden="true"></i>
        <input type="text" name="" value="*******la"> <i class="fa fa-pencil " aria-hidden="true"></i><br>
      </div>
      <div class="back">
        <a href="file:///C:/Users/Victoria/Desktop/producto-final-sprint2/data-dashboard/index.html"><h4>Regresar <i class="fa fa-arrow-left" aria-hidden="true"></i></h4></a>
      </div>
    </div>

  </main>
  <!-- Base de datos -->
  <script src="../js/data.js"></script>
  <!-- Aquí va tus archivos JS -->
  <script src="../js/app.js"></script>
</body>

</html>
